/* SEARCH BAR */

.container-searchBar, 
.searchBar-left,
.searchBar-center,
.searchBar-right {
    display: flex;
    justify-content: space-between
}

.searchBar-left, .searchBar-center, .searchBar-right {
    align-items: center;
}

    .searchBar-left .instagramLogo {
        padding: 0px 15px;
        border-right: 1px solid black;
    }
    .fab {
        font-size: 30px;
    }
    .searchBar-left .instagramName {
        padding-left: 15px;
    }

    .searchBar-right .far {
        font-size: 20px;
        padding-right: 15px;
    }



/* CONTAINER POST */

.container-post {
    display: flex;
    flex-direction: column;
}

.container-postHeader {
    display: flex;
    height: 40px;
    align-items: center;
    border: 1px solid lightgrey
}
    .profile-IMG, .userName {
        padding-left: 15px;
    }

.container-postBottom {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

/* COMMENTS */
.container-comments {
    display: flex;
    flex-direction: column;
}
.commentContent {
    display: flex;
    margin-bottom: 5px;
}
    .commentContent .commentUser {
        font-weight: bold;
        padding-right: 5px;
    }
.addComment {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
    margin-right: 15px;
    height: 40px;
    
}
input {
    border: 0px;
    flex-grow: 1;
}
